%table.table
  %thead
    %tr
      %th User
      %th Status
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td
          %h3= user.name
        %td
          - if user.clocked_in?
            %h4{style: "color: #4CAF50; font-weight: bold;"}= "Clocked In"
            %p= format_time(user.latest_shift.clock_in_time)
          - elsif user.latest_shift.present?
            %h4{style: "color: #aaaaaa;"}= "Clocked Out"
            %p{style: "color: #aaaaaa;"}= format_time(user.latest_shift.clock_out_time)
          - else
            %h4{style: "color: #aaaaaa;"}= "No shifts yet"
        %td
          - if permitted_to?(:show, user)
            = link_to "View Shifts", user_path(user), :class => 'btn btn-success'
