<div class="page-header">
  <h1><%=t ".title", default: "Login" %></h1>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "hide form-horizontal form-user"}) do |f| %>
                                                                                                                                        
  
  <div class="form-group">
    <%= f.label :pin, class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.text_field :pin, class: "text-field form-control", value: nil, spellcheck: "false" %>
    </div>
  </div>
  

  <div class="form-group">
    <%= f.label :password, class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.hidden_field :password, value: User::DEFAULT_PASSWORD %>
    </div>
  </div>
                                                                                                                                        
  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.label :remember_me, "Remember Me", class: "control-label col-md-4" %>
      <div class="col-md-8">
        <%= f.check_box :remember_me %>
      </div>
    </div>
  <% end -%>
                                                                                                                                        
  <div class="form-group">
    <div class="col-md-offset-4 col-md-8">
      <%= f.submit "Login", class: "btn btn-primary" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-8">
      <%= render "devise/shared/links" %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".nmpd-display").val('');
    // $.fn.numpad.defaults.gridTpl = '<table class="table"></table>';
    $.fn.numpad.defaults.displayTpl = '<input type="password" class="form-control pin-input"/>';
    $.fn.numpad.defaults.buttonNumberTpl =  '<button type="button" class="btn btn-circle btn-xl btn-default"></button>';
    $.fn.numpad.defaults.buttonFunctionTpl = '';
    $("#user_pin").numpad({
      hidePlusMinusButton: true,
      hideDecimalButton: true,

    });
    $("#user_pin").click();
    $("button.numero").on('click', function(){
      var currentValue = $(".nmpd-display").val();
      if (currentValue.length === 4){
        $("button.numero").attr('disabled', true);
        $("#user_pin").val(currentValue);
        $("form#new_user").submit();
      }
    });
    $("button.numero:nth(0)").html("1");
    $("button.numero:nth(1)").html("2");
    $("button.numero:nth(2)").html("3");

    $("button.numero:nth(6)").html("7");
    $("button.numero:nth(7)").html("8");
    $("button.numero:nth(8)").html("9");
    // $(".nmpd-display").on('change', function(){
    //   console.log(this.val());
    // });
    // $(".nmpd-display").val().length;
  });
</script>
