<!DOCTYPE html>
<html>
<head>
  <title>Time Clock</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<%= render partial: "elements/navbar" %>


<%= bootstrap_flash %>

<div class="container-fluid">
<%= yield %>
</div>
</body>
</html>
